*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li , ul {
    text-decoration: none;
    list-style: none;
}
button {
    padding: 5px 10px;
    background: rgb(250, 250, 250);
    outline: none;
    cursor:pointer;
    border: 1px solid black;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
button:hover{
    background: slateblue;
    color: white;
    border-bottom: 1px solid white;
}
li{
    margin-bottom: 25px;
}
main{
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
}